:root {
  --firstColor: #606b56;
  --secondColor: #515a48;

  --borderColor: #161914;

  --firstText: #fff;
  --secondText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBgColor:: rgb(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;

  --buttonColor: #669966;
}
